<tabs flat pad class-alt fill height=dynamic>
  <tab title=Intro><marked>
    The button helper is just a CSS function that gives you Material-ish `<button>`s. When passed to an instance, the styles will be registered with `Ractive.addCSS`, and when passed to a constructor (component), they will augment the existing `css` for the constructor.
  </marked></tab>
  <tab title=API><marked>
    A button with the `flat` class applied will invert the fore and background colors and remove the shadow so that the button flattens into its background component.
    
    ### Namespace

    `button`

    ### Variables

    * `invert` - use `fg` rather than `alt` as background
    * `fg` - inverted background
    * `bg` - foreground
    * `alt` - default background
    * `radius` - border radius
  </marked></tab>
  <tab title=Usage><marked>
    ```javascript
    import plugin from 'raui/es/button';

    Ractive.use(plugin());

    // or
    MyComponent.use(plugin());

    // or
    const r = new Ractive();
    r.use(plugin());

    // or
    new Ractive({
      use: [plugin(())]
    });

    // or
    const MyComponent = Ractive.extend({
      use: [plugin()]
    });
    ```
  </marked></tab>
  <tab title=Example>
    <button>Material Button</button> <button class-flat>A Flat Button</button> <button>A Third Button</button> <button class-round>+</button><br/>
    <button style="color: #fff; background-color: rgb(5, 165, 0);">Colorful</button>
  </tab>
</tabs>

<script>
  import { Window } from 'cmp/Window';

  export default Window.extend({
    template: $TEMPLATE,
    use: [],
    options: {
      title: 'Helper :: Button',
      resizable: true, flex: true,
      width: '48em', height: '30em'
    },
    css: true
  });
</script>
  