<tabs flat pad class-secondary height=dynamic>
  <tab title=Intro><marked>
    TODO

    A Material card macro partial that is mostly a placeholder pending me actually needing full card functionality like headers, buttons, tabs, and image stuff. Right now I mostly just use them as convenient blocks for lists of items. They play really well with the grid decorator.
  </marked></tab>
  <tab title=Usage><marked>

  </marked></tab>
  <tab title=Example>
    
  </tab>
</tabs>

<script>
  import { Window } from 'cmp/Window';

  export default Window.extend({
    template: $TEMPLATE,
    options: {
      title: 'Component :: Card',
      resizable: true, flex: true,
      width: '48em', height: '30em'
    }
  });
</script>
  