<tabs flat pad class-alt fill height=dynamic>
  <tab title=Intro><marked>
    The `DateInput` macro combines the `date` decorator, the `DatePicker` component, and a `Popover` into a convenient package wrapped up in an input. You can control the format, minimum, maximum, and bindings of the `date` decorator with attributes. The rendered component includes an icon to pop up the `DatePicker` in a `Popover`, which allows the user to navigate around a calendar to select a date.
  </marked></tab>
  <tab title=Usage><marked>
    ### Plugin Options

    All options are optional.

    * `name: string = 'date-input'` - the name to use when registering the plugin as a macro

    ### Attributes

    All attributes are optional.

    * `mask: string` - set the mask for the date field
    * `value: keypath` - the keypath to which the date should be bound
    * `lazy: boolean` - if provided, the date input won't fire changes until the field is blurred
    * `null: boolean` - whether the date should be allowed to be left blank
    * `string: keypath` - the keypath to which the text of the input should be bound
    * `min: Date` - the minimum value for the date input
    * `max: Date` - the maximum value for the date input
    * `time` - the time setting to be passed to the date decorator

  </marked></tab>
  <tab title=Example>
    <marked>
      ### Template:
      ```handlebars
      <date-input />
      <date-input value=".date" time=now />
      <date-input value=".date" mask="MM/dd/yyyy" string=".dateString" />
      <date-input value=".minDate" min="{{.min}}" />
      <date-input value=".maxDate" max="{{.max}}" />
      <date-input value=".datetime" mask="MM/dd/yyyy HH:mm" />
      <date-input value=".datetime" mask="MM/dd/yyyy hh:mm a" />
      ```
      ### Result:
    </marked>

    <div class="dates">
      <date-input />
      <date-input value=".date" time=now />
      <date-input value=".date" mask="MM/dd/yyyy" string=".dateString" />
      <date-input value=".minDate" min="{{.min}}" />
      <date-input value=".maxDate" max="{{.max}}" />
      <date-input value=".datetime" mask="MM/dd/yyyy HH:mm" />
      <date-input value=".datetime" mask="MM/dd/yyyy hh:mm a" />
    </div>

    <code><pre>
      Date: {{.date}}
      Min Date: {{.minDate}}
      Max Date: {{.maxDate}}
      Date String: {{.dateString}}
      Date Time: {{.datetime}}
    </pre></code>
  </tab>
</tabs>

<script>
  import { Window } from 'cmp/Window';
  import date from 'cmp/DateInput';

  export default Window.extend({
    template: $TEMPLATE,
    css: $CSS,
    use: [date()],
    options: {
      title: 'Component :: DateInput',
      resizable: true, flex: true,
      width: '48em', height: '30em'
    },
    data() {
      return {
        min: new Date(+new Date() - 86400000 * 30),
        max: new Date(+new Date() + 86400000 * 30),
      };
    }
  });
</script>
    
<style>
  .dates {
    display: flex;
    flex-wrap: wrap;
  }
  .dates span.rdi-date {
    width: 16em;
    margin: 1em;
    flex-shrink: 0;
  }
  .dates input {
    padding: 0.5em;
  }
</style>
