<tabs flat pad class-secondary fill height=dynamic>
  <tab title=Intro><marked>
    TODO

    Material forms a little bit polarizing, but this decorator tries to take a fairly unobtrusive approach. You wrap your input element in a `label` with the `field` decorator, and the decorator handles the rest based on the content of the label. It also provides a CSS function to apply the styling at the root of your app.
  </marked></tab>
  <tab title=Usage><marked>

  </marked></tab>
  <tab title=Example>
    <div as-grid>
        <div class-row>
          <label as-field class-t1-3>Input Field<input /></label>
          <label as-field class-t1-3>Select Field<select><option>option1</option><options>option2</options></select></label>
          <label as-field class-t1-3><input type="checkbox" /> Checkbox</label>
        </div>
      </div>
  </tab>
</tabs>

<script>
  import { Window } from 'cmp/Window';
  import { grid } from 'cmp/grid';

  export default class Form extends Window {
    constructor(opts) { super(opts); }
  }

  Window.extendWith(Form, {
    template: $TEMPLATE, css: $CSS,
    decorators: { grid },
    options: {
      id: 'Form',
      title: 'Decorators :: Form',
      width: '40em', height: '30em',
      flex: true
    }
  });
</script>
