<tabs flat pad class-alt fill height=dynamic transition=fade>
  <tab title="Intro">
    <marked>
    <div style="text-align: center;"><img src="./raui.svg" style="width: 150px; text-align: center;" alt="pronounced like Maui" /></div>

    <a href="https://github.com/evs-chris/raui" target=_blank>RaUI</a> is a set of components and plugins for <a href="https://ractive.js.org" target=_blank>Ractive.js</a> that can be handy for heavier web applications. Some of them are a bit unusual for modern web applications, but they try to stick close to <a href="https://material.io/" target=_blank>Material</a> guidelines by default where it makes sense. They also do their best to stay completely responsive from iPhone 4-sized screens all the way up to 50+" 4k monitors.

    RaUI also takes advantage of Ractive's dynamic style support to be as themeable as possible. The set of variables is a bit in flux right now, but the common variables right now are `fg1`, `fga1`, `bg1`, and `bga1`, which are the foreground color, an alternate, the background color, and an alternate, respectively. There are also `fg2`, `fga2`, `bg2`, and `bga2` for things that need additional colors. The foregrounds and backgrounds in a set are meant to be contrasted enough that they can safely be used in any fore/back combination and still be legible.
    
    Beyond colors, there are style variables in some components that also control markup - because style variables are available to both templates and data.

    RaUI also strives to have both declarative and dynamic control over each component, meaning that you should be able to conveniently and concisely write template that describes what the UI should look like while also being able to change or extend it on the fly. For instance, you should be able to set a title on a menu item in the template and then change the set title from your code by getting a handle to the menu item and simply setting the title to a new string. This is achieved by taking the template that is passed into a component and turning it into a data construct while the component is being assembled, so the source for these components is a little hairier than your average Ractive component.

    ### Why RaUI?

    This project started life as a handful of components extracted from various common projects and was unnamed for a while. It then got the name `ractive-materialish` from the fact that it tried to clone bits of Material design into usable Ractive components. As it started to stray a bit from Material in a few style options, I decided that I'd rather be in Maui writing my Ractive UI components, so I jammed them together, why not? Also, RUI is already taken on npm... thanks React.

    ### Usage

    There are a few different ways to use raui:
    
    * using a bundler with the appropriate build plugins, like rollup or webpack, with the raui/src components and scripts
    * using a bundler with the raui/es modules
    * using an AMD or CommonJS loader with the pre-built UMD modules
    * using a script tag and a UMD module, where the plugins will automatically register themselves in the appropriate Ractive.defaults registry as Raui${name}

    If you chose one of the module/loader means of usage, you can use most of the components directly using a named export e.g.

    ```js
    import { Menu } from 'raui/es/Menu';
    Ractive.components = Menu;
    ```

    You can also use them as a plugin along with the `use` init/extend option or the `Ractive.use()` or `instance.use()` methods.
  </marked></tab>
  <tab title="Components"><marked>
    There are a number of components in the raui family, some of which are proper Ractive components, for the more complicated components, and some of which are macros, for the lighter widget-y things. When including a macro-based component directly, be sure to register it in the appropriate partials registry rather than the components registry. When including the component as a plugin, proper registering is handled for you.

    Here's the list:

    * AppBar - A titlebar-like thing that goes across the top of your app
    * Autocomplete - An input with a popup completion list
    * Card - A material-ish card that's mostly just a boilerplate macro
    * DateInput - An input with date format and a calendar popover
    * DatePicker - A calendar date picker component
    * JSONEditor - An object editor tree
    * Menu - A side menu with expanding sections and raw embeds
    * Popover - Your basic popover
    * Side Bar - A responsive side bar with optional tabs
    * Shell - A responsive app shell with slide-y out-y sides
    * Split - A multi-paned splitter in vertical and horizontal flavors
    * Table - A grid-like table with built-in filtering, sorting, and pagination
    * Tabs - Your plain old garden variety tabbed container
    * Toggle - A little switch to swap in for your checkboxes
    * Window - A set of components that let you build a responsive MDI in a browser (if that's what you're into)
  </marked></tab>
  <tab title="Decorators"><marked>
    Ractive's decorators are handy little things that let you augment an HTML element as it's being rendered. RaUI makes good use of these both internally in some components and as reusable parts for generic app use.

    Here's the list:

    * AceEditor - Turns an element into an Ace editor
    * CodeMirror - Turns an element into a CodeMirror editor
    * Date - Turns an input into a date/time editor
    * Form - A few helpers to make your forms slightly more convenient to author
    * Grid - An internally responsive, adjustable grid
    * Marked - A macro and decorator combo that renders its contents via `marked` Markdown
    * MaskedInput - Apply a mask to an input
    * NumericInput - Input decimal numbers with optional prefix/suffixes
    * ScrollSpy - A piar of decorators that give you scroll spys and targets
  </marked></tab>
  <tab title="Events"><marked>
    Ractive's custom events can be used to string together browser events, like touch/pointer events, into higher level abstractions, like swipes. They can also be used to abstract away weird differences in different types of events across browsers or other idiosyncracies of DOM events like `click` and `dblclick` and various touches. RaUI exposes a few helpful events that are used internally in a few places.

    Here's the list:

    * Click - Configurable clicks/taps with an optional hold on the last
    * Keys - Declarative key listeners
    * Swipe - Listen for up, down, left, and right swipes with extrapoled thresholds
  </marked></tab>
  <tab title="Transitions"><marked>
    CSS transitions are quite nice, but they have some quirks that make them a little weird to manage. Ractive transitions patch over some of that weirdness and supply an easy way to hook into elements rendering and unrendering to animate those processes. RaUI uses a few custom transitions internally and exposes them for use.

    Here's the list:

    * Expand - Grow/shrink full height and then fade in/out the contents
    * Fade - Your bog-standard fade in/fade out transition
  </marked></tab>
  <tab title="Helpers"><marked>
    Beyond components, decorators, macros, events, and transitions, RaUI also exposes a few other helpers that come in handy when making apps.

    Here's the list:

    * Color - A Color class and functions that take CSS colors and help you mangle them by lightening, desaturating, etc
    * Button - Just a style helper to make `<button>`s more Material
    * Toast - A toasting system that can be installed on any old Ractive instance
    * Validate - A validation rule system with some helper decorators
  </marked></tab>
  <tab title="Theming"><marked>
    RaUI makes use of Ractive's CSS function support to make its components relatively themeable. There are specific variables available for many aspects of each component, that fall back to general variables and _hopefully_ sensible defaults. Colors are managed in groups with `raui.primary` being the only default. Any additional themes will have classes added to each component's styles to match and should be listed in a `raui.themes` list. The variables for additional themes should be set on the root ractive style data in an object with the same name as the theme. Additional themes can also be overridden at the component level e.g. `raui.tabs.secondary` will be based on `raui.secondary` automatically, with the more specific settings taking precedent.

    The color variables come in sets of four: `fg`, `bg`, `bc`, `fga`, and `bga` - foreground, background, border color, alternate foreground, and alternate background. The border color can apply to borders or other widget interstitials, as can the alternate background, and the fore- and background colors should all be reasonably legible against each other. Each theme can have `active` and `disabled` sets as well, and if missing, they will fall back to the main set.

    ### Variables

    * `fg` - a foreground (text) color (`#222`)
    * `bg` - a background color (`#fff`)
    * `bc` - a border color (`#ccc`)
    * `fga` - an alternate foreground color (`#07e`)
    * `bga` - an alternate background color (`#f4f4f4`)
    * `active`
      * `fg` - an active foreground (text) color (`#07e`)
      * `bg` - an active background color (`#fff`)
      * `bc` - an active border color (`#777`)
      * `fga` - an active accent foreground color (`#222`)
      * `bga` - an alternate background color (`#f4f4f4`)
    * `disabled`
      * `fg` - a disabled foreground (text) color (`#999`)
      * `bg` - a disabled background color (`#eee`)
      * `bc` - a disabled border color (`#ddd`)
      * `fga` - a disabled alternate foreground color (`#07e`)
      * `bga` - a disabled alternate background color (`#f4f4f4`)
    * `radius` - the border radius to use on widget-y things (`0.2em`)
    * `duration` - the default duration for configurable transitions (`0.2s`)
    * `easing` - the default transition timing function for configurable transitions (`ease-in-out`)

    Themes can be overridden at the component level using a theme variable name assigned to the component style namespace e.g. `raui.appbar.primary.bg` to override the primary `bg` for the `appbar`. Note that with some components, the background color is used as the foreground color.

    Some components come with additional variations that can be activated simply by added a class to the component root. These variations typically do things like invert the fore- and background colors.

  </marked></tab>
</tabs>

<script>
  import { Window } from 'cmp/Window';
  import click from 'cmp/event-click';
  import date from 'cmp/date';
  import popover from 'cmp/Popover';

  export default Window.extend({
    template: $TEMPLATE,
    use: [click({ name: 'clickh', count: 1, hold: true }), date(), popover()],
    options: {
      title: 'Hello, RaUI',
      resizable: true,
      width: '48em',
      height: '30em',
      flex: true
    },
    data() {
      return { date: new Date() }
    }
  });
</script>
