<tabs flat pad class-secondary height=dynamic>
  <tab title=Intro><marked>
    TODO

    This is a tree-style data editor that allows managing objects and arrays filled with primitive values. It can be set up as read only to just display the data or as editable  to allow adding and removing keys and indices and changing values.
  </marked></tab>
  <tab title=Usage><marked>

  </marked></tab>
  <tab title=Example>
    
  </tab>
</tabs>

<script>
import { Window } from 'cmp/Window';

export default Window.extend({
  template: $TEMPLATE,
  options: {
    title: 'Component :: JSONEditor',
    resizable: true, flex: true,
    width: '48em', height: '30em'
  }
});
</script>
        