<tabs flat pad class-secondary fill height=dynamic>
  <tab title=Intro><marked>
    This decorator takes an input field and applies a mask that accepts numbers, letters, or letters and numbers at each mask position. Cursor movement is automatically handled, and the field is filled with the mask, so no weird tricks are needed to display a prompt for the user.
  </marked></tab>
  <tab title=Usage><marked>
    ### Plugin options

    All options are optional.

    * `name: string ='masked'` - the name to use when registering the decorator as a plugin

    ### Arguments

    This decorator takes up to two strings and an options has as arguments. The first and second may be strings that correspond to the `mask` and `value` options. The first, second, or third may be an options hash.

    * `mask: string` - the mask to use in the input
      * #### Characters

        `#` - matches any number character
        `?` - matches any word character
        `@` - matches any upper or lowercase letter a-z
        
        Any other characters are taken literally and automatically included in the masked value.
    * `value: keypath` - a keypath to use to bind the input value
    * `display: keypath` - a keypath to use to bind the displayed value
    * `lazy: boolean = true` - whether or not to immediately update the bound values
  </marked></tab>
  <tab title=Example>
    <marked>
      Template:

      ```hbs
      <label as-field>All the things
          <input as-masked="{ mask: '### ??? @@@ #-?', value: '.value', masked: '.masked', display: '.display', lazy: false }" />
      </label>
      <label as-field>16-digit thing
        <input as-masked=`####-####-####-####` />
      </label>
      ```

      Result:
    </marked>
    <label as-field>All the things
        <input as-masked="{ mask: '### ??? @@@ #-?', value: '.value', masked: '.masked', display: '.display', lazy: false }" />
    </label>
    <label as-field>16-digit thing
      <input as-masked=`####-####-####-####` />
    </label>
    <dl style="margin-top: 2em;">
      <dt>Value</dt>
      <dd>&#x200b;{{.value}}</dd>
      <dt>Masked</dt>
      <dd>&#x200b;{{.masked}}</dd>
      <dt>Display</dt>
      <dd>&#x200b;{{.display}}</dd>
    </dl>
  </tab>
</tabs>

<script>
  import { Window } from 'cmp/Window';
  import masked from 'cmp/masked-input';

  export default Window.extend({
    template: $TEMPLATE,
    use: [masked()],
    options: {
      title: 'Decorator :: MaskedInput',
      resizable: true, flex: true,
      width: '48em', height: '30em'
    }
  });
</script>
    