<tabs flat pad class-secondary height=dynamic>
  <tab title=Intro><marked>
    This is a vertical menu that supports items with nested children, titled sections, and containers with any old content. Horizontal menus tend not to scale well at all below a certain width, and nobody likes horizontal scrolling. This type of menu pairs well with the side containers of the shell and a nice cabernet.

    ### Items

    Menu items have three sections for content - a left, title, and right. The title sits in the center and pushes the left and right in their nominal directions. Each section can contain anything you want, but the title is typically used for text, and the left and right are good for icons and indicators.
    
    Menu items that have children automatically get and expansion indicator to the right of the the right section. The expansion indicator is clickable and servers as the means to expanding the item if the title area happens to have its own action.

    ### Sections

    A section is simply a container with a title at the top. It has a bit of margin to keep it from running into other items, and it can contain any other menu item type.

    ### Containers

    A container is an item that is designed to have anything other than menu items as content. Containers are ideal for logos and global settings that are useful embedded in the menu, like `select`s and toggle switches.
  </marked></tab>
  <tab title=Usage><marked>
    ### Plugin Options

    All options are optional.

    * `name: string = 'menu'` - The name to use when registering the plugin as a component

    ### Children

    A menu is typically a declarative structure with many repeating children, so attributes don't really work well for configuration. As such, the menu is mostly configured using child nodes.

    For content children that have an attribute version, the attribute takes precedent over the child e.g. `<item title=Foo><title>Bar</title></item>` will result in an item titled `Foo`.

    * `item` - a menu item
      * #### Attributes
        * `title: string` - the title to display in the item. THis is rendered 
        * `action: event` - the listener used when the item is clicked
        * `guard: boolean | () => boolean` - a condition that controls the display of the item. This is automatically mapped into the containing menu so that it stays up to date with the surrounding context.
        * `ref: string` - the id for this item. You can get an API handle to items using their `ref`, if supplied. If this is an expression, it will automatically be mapped into the containing menu.
        * `active: boolean | Handle -> boolean` - whether or not the item is currently active. This lets your application notify the menu when something changes states without involving the menu.
        * `open` - if preset, the item will start in an open state if it has children
      * #### Children
        * `title` - any children are collected into a partial and yielded in the title section of the item
        * `left` - any children are collected into a partial and yielded in the left section of the item
        * `right` - any children are collected into a partial and yielded in the right section of the item
        * `item|section|container` - other menu items are processed and collected as children of this item
    * `section` - a menu section
      * #### Attributes
        * `title: string` - the title to display in the section
      * #### Children
        * `title` - any children are collected into a partial and yielded in the title section of the item
        * `item|section|container` - other menu items are processed and collected as children of this item
    * `container` - a menu container
      * #### Attributes
        * `pad` - if present, the container will have padding applied
        * `content: string` - an HTML string to render in the container
      * #### Children
        * `*` - any children are collected into a partial and yielded in the container

    ### API

    The menu also has a full API for managing items. The `Item` object is what is built from the declarative API in the template above. You get a bit more control when creating items manually but at the expense of being able to use partials easily for content.

    ##### Menu

    * `addItem(item: Item, index?: number): Handle` - append an item to the menu root or insert it in the menu root at `index`, if provided
    * `getHandle(what: ref string|selector string|Context|Node): Handle` - returns a handle to the menu item associated with the given `what`

    #### Item

    * `type: 'item' | 'section' | 'container'` - the type for this item
    * `condition: boolean | () => boolean` - if the condition results in `true`, the item will be rendered
    * `active: boolean | Handle => boolean` - if the condition results in `true`, the item will be flagged as active
    * `action: () => void` - the function to call when the item is activated
    * `ref: string` - register this item with the id `ref`
    * `left: string` - an HTML string to render in the left section of the item if it is `type: 'item'`
    * `right: string` - an HTML string to render in the right section of the item if it is `type: 'item'`
    * `title: string` - an HTML string to render in the title section of the item if it is `type: 'item'` or `type: 'section'`
    * `content: string` - an HTML string to render in the content sectino of the item if it is `type: 'container'`
    * `pad: boolean` - if true and `type: 'container'`, the container will have padding applied
    * `items: Item[]` - children for this item

    #### Handle

    An item handle presents a convenient API over `menu.get` and `menu.set` that manages the keypath to the item for you.

    * `keypath: string` - a readonly property containing the keypath to the Item in the Menu data. This is mostly for internal use.
    * `action: () => void` - gets or sets the action function called when the item is activated
    * `active: boolean | Handle => boolean` - gets or sets the active flag for the item
    * `addItem(item: Item, index?: number): Handle` - appends an item to this item's children or inserts it at the given index, if provided
    * `open()` - expands the item
    * `close()` - contracts the item
    * `remove()` - removes the item from its parent container
    * `get(keypath: string): any` - get a value relative to the item's keypath
    * `set(keypath: string, value: any)` - set a value relative to the item's keypath
  </marked></tab>
  <tab title=Example>
    <label as-field>
      Title<select value="{{.title}}"><option>Things</option><option>Spoons</option><option>Former Wrestling Champions</option></select>
    </label>
    <marked>
      ### Template:
      ```handlebars
      <menu style-width=20em>
        <container style-background-color="#333">
          <div style="text-align: center; padding: 1em;">
            <div style="display: inline-block; border-radius: 100%; width: 4em; height: 4em; line-height: 4em; background-color: #07e; color: #fff;">
              RaUI
            </div>
          </div>
        </container>
        <item title="Welcome" on-action="console.log('Welcome')" />
        <section title=Things>
          <item open>
            <title>Big Things</title>
            <item title="Elephant" on-action="console.log('Pfrrrrrrrrrrbbbbt')" />
            <item title="Dinosaur" on-action="console.log('Raaaawwwwrr')" />
            <item title="The Rock" on-action="console.log('Do you smell what the Rock is cooking?')" />
          </item>
          <item title="Clicky Things" on-action="console.log('I have an action and children, which may not be the best UX, but sometimes it\'s better than an extra set of menu items.')">
            <item title="Car Blinker" on-action="console.log('tchk tchk')" />
            <item title="Clock" />
            <item title="Metronome" on-action="console.log('...travelocity?')" />
          </item>
        </section>
        <section>
          <title>Other {{.title}}</title>
          <item title="Middle">
            <left>L</left>
            <right>R</right>
          </item>
          <item>
            <title>With Children</title>
            <right>#</right>
            <item title="Child 1" />
            <item title="Child 2" />
            <item title="Babies with babies">
              <item title="Grandchild 1" />
              <item title="Grandchild 2" />
            </item>
          </item>
        </section>
      </menu>
      ```
      ### Result:  
    </marked>
    <menu style-width=20em>
      <container style-background-color="#333">
        <div style="text-align: center; padding: 1em;">
          <div style="display: inline-block; border-radius: 100%; width: 4em; height: 4em; line-height: 4em; background-color: #07e; color: #fff;">
            RaUI
          </div>
        </div>
      </container>
      <item title="Welcome" on-action="console.log('Welcome')" />
      <section title=Things>
        <item open>
          <title>Big Things</title>
          <item title="Elephant" on-action="console.log('Pfrrrrrrrrrrbbbbt')" />
          <item title="Dinosaur" on-action="console.log('Raaaawwwwrr')" />
          <item title="The Rock" on-action="console.log('Do you smell what the Rock is cooking?')" />
        </item>
        <item title="Clicky Things" on-action="console.log('I have an action and children, which may not be the best UX, but sometimes it\'s better than an extra set of menu items.')">
          <item title="Car Blinker" on-action="console.log('tchk tchk')" />
          <item title="Clock" />
          <item title="Metronome" on-action="console.log('...travelocity?')" />
        </item>
      </section>
      <section>
        <title>Other {{.title}}</title>
        <item title="Middle">
          <left>L</left>
          <right>R</right>
        </item>
        <item>
          <title>With Children</title>
          <right>#</right>
          <item title="Child 1" />
          <item title="Child 2" />
          <item title="Babies with babies">
            <item title="Grandchild 1" />
            <item title="Grandchild 2" />
          </item>
        </item>
      </section>
    </menu>
  </tab>
</tabs>

<script>
  import { Window } from 'cmp/Window';
  import menu from 'cmp/Menu';

  export default Window.extend({
    template: $TEMPLATE, css: $CSS,
    cssId: 'demo-menu',
    use: [menu()],
    options: {
      title: 'Component :: Menu',
      resizable: true, flex: true,
      width: '48em', height: '30em'
    }
  });
</script>

<style>
  li > h4 {
    margin: 0;
  }
</style>
