<tabs height=dynamic pad fill transition=fade class-alt>
  <tab title="Intro"><marked>
    Just about every app needs to display some list of data at some point, preferably in a filterable, sortable way. To that end, raui provides a `table`, which is more like a desktop-style grid control than a plain html `table`. It comes with built-in filtering, sorting, declarative columns, pagination, selection, and responsive layout.

    Columns are laid out using `column` child elements that specify the content of the column as their content and any other settings, like the label, filter field, sort field, etc as attributes. There's also an additional `row` child that allows adding an extra detail section to each row that is hidden by default but opens when a row is clicked (or tapped) once. When `row` is preset, row selection defaults to a double click (or tap). When it is absent, selection will fire on eith click or double click (or tap).

    By default, the table uses the grid decorator for sizing columns to maintain some sort of reasonable responsiveness. It also has the benefit of allowing multi-line rows if that's something you need. The downside is that you need to specify column sizes manually, though there is sugared handling using size attributes on each column rather than manually having to add each class e.g. `<column t0 s1-4 l1-8 label=Name>{{.name}}</column>`, where the column will be hidden below the small break, 25% before the large break, and 12.5% after the large break.

    There is also an HTML `table` mode available, should you need it.
  </marked></tab>
  <tab title="Usage"><marked>
    ### Plugin Options

    All options are optional.

    * `name: string = 'data-table'` - The name to use when installing the plugin as a component
    * `includeGrid: boolean = false` - Whether to include the grid styles within the table. Set this to `true` if you're not using the grid globally. It generates a pretty good deal of extra CSS, so if you _are_ using the grid globally, you should make sure this stays disabled.

    ### Attributes

    All attributes are optional.

    * `items: Object[] = []` - The list of items to display in the table
    * `filter: string` - The filter used to compare to each item to determine whether or not it should be displayed
    * `paginate: falsey | number | 'auto' = null` -
      * `falsey` - no pagination is applied
      * `number` - the page size is set to the given number
      * `'auto'` - the table will calculate the number of rows that it can display without causing its container to require a scroll bar (or at the very least have minimal scrolling) when no rows are expanded
    * `display: 'grid' | 'table' = 'grid'` - Whether to render as a grid or an HTML table
    * `allowSelect: boolean = true` - Whether to show the select checkbox on individual rows.
    * `allowSelectAll: boolean = true` - Whether to show the select all checkbox in the header to allow selecting all displayed - and all total - rows.
    
    ### Children

    * `column` - Defines a column in the table
      * `label: string` - The string to display in the column header
      * `filter: keypath` - A dotted keypath to the property used to filter the column. Filterable fields are automatically sortable.
      * `sort: keypath = filter` - A dotted keypath to the property used to sort the column. Sortable fields will automatically have their header control sorting by the column.
      * `hidden: boolean = false` - Whether to actually display the column in the table. This is useful for having a column participate in filtering without having to be displayed.

    * `row` - In grid tables, the content of the `row` child is used for expandable content for each row in the table
  </marked></tab>
  <tab title="Example" no-pad>
    <split>
      <pane size=30>
        <div style-padding="1em">
        <div>
          <label as-field>Filter<input value="{{filter}}" lazy=300 ></label>
          <label as-field>Mode<select value="{{mode}}">
            <option value="grid">Grid</option>
            <option value="table">Table</option>
          </select></label>
          <label as-field><input type="checkbox" checked="{{border}}" />Border</label>
          <label as-field><input type="checkbox" checked="{{fixedHeader}}" />Fixed Header</label>
          <label as-field><input type="checkbox" checked="{{select}}" />Select</label>
          <label as-field><input type="checkbox" checked="{{selectAll}}" />Select All</label>
          <label as-field><input type="checkbox" checked="{{groups}}" />Show Groups</label>
          <label as-field><input type="checkbox" checked="{{groupSelect}}" />Group Select</label>
          <label as-field>Pagination<select value="{{paginate}}"><option>auto</option><option>virtual</option><option>fixed</option><option value="{{null}}">none</option></select></label>
          {{#if paginate === 'fixed'}}<label as-field>Items per page<input type="number" value="{{pages}}" /></label>{{/if}}
          <label as-field><input type="checkbox" checked="{{editable}}" /> Editable Bar</label>
        </div>
        <marked>
          The table below is populated with 2,000 objects in the form `{ foo, bar, bat }` that are based on randomly generated strings (foo, bar) and booleans (bat).

          ### Template:
          ```handlebars
          <data-table bind-display=mode bind-items bind-filter="[{ op: '||', value: [{ id: 'Foo', op: 'like', value: filter }, { id: 'Bar', op: 'like', value: filter }] }]" bind-border bind-fixedHeader bind-paginate="paginate === 'fixed' ? pages : paginate" bind-allowSelect="select" bind-allowSelectAll="selectAll" paginate=auto on-selected="console.log($1)">
            <row>
              <h3>Extra stuff goes here</h3>
              <p>I have a {{.foo}} that is {{.bar}}.</p>
            </row>
            <column t1 s1-2 m1-3 label="Foo" filter=foo>{{.foo}}</column>
            <column t0 s1-2 m1-3 label="Bar" filter=bar bind-editable>{{.bar}}</column>
            <column t0 m1-3 label="???">{{.bat ? 'Yep' : 'Nope'}}</column>
            <group by=bat select="{{groupSelect}}" show="{{groups}}">
              <column t7-8>{{.bat ? 'Yeps' : 'Nopes'}}</column>
            </group>
          </data-table>
          ```
          ### Result:
        </marked>
        </div>
      </pane><pane style-display=flex style-flex-direction=column>
        <data-table bind-display=mode bind-items bind-filter="[{ op: '||', value: [{ id: 'Foo', op: 'like', value: filter }, { id: 'Bar', op: 'like', value: filter }] }]" bind-border bind-fixedHeader bind-paginate="paginate === 'fixed' ? pages : paginate" bind-allowSelect="select" bind-allowSelectAll="selectAll" paginate=auto on-selected="console.log($1)">
          <row>
            <h3>Extra stuff goes here</h3>
            <p>I have a {{.foo}} that is {{.bar}}.</p>
          </row>
          <column t1 s1-2 m1-3 label="Foo" filter=foo>{{.foo}}</column>
          <column t0 s1-2 m1-3 label="Bar" filter=bar bind-editable>{{.bar}}</column>
          <column t0 m1-3 label="???">{{.bat ? 'Yep' : 'Nope'}}</column>
          <field id=when path=when type=date />
          <group by=bat select="{{groupSelect}}" show="{{groups}}">
            <column t7-8><strong>{{.bat ? 'Yeps' : 'Nopes'}}</strong></column>
          </group>
        </data-table>
      </pane>
    </split>
  </tab>
</tabs>

<script>
  import { Window } from 'cmp/Window';
  import Table from 'cmp/Table';
  import Split from 'cmp/Split';

  const data = [];
  const src = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789';
  for (let i = 0; i < 2000; i++) {
    const d = {};
    data.push(d);
    ['foo', 'bar'].forEach(prop => {
      const len = Math.ceil(Math.random() * 20);
      let str = '';
      for (let c = 0; c < len; c++) {
        str += src[Math.ceil(Math.random() * (src.length - 1))];
      }
      d[prop] = str;
    });
    d.bat = Math.random() > 0.5;
    d.when = new Date(Math.random() * 1733679172109)
  }

  export default Window.extend({
    template: $TEMPLATE,
    use: [Table(), Split()],
    options: {
      title: 'Component :: Table',
      resizable: true, flex: true,
      width: '48em', height: '30em'
    },
    data() {
      return { items: data, filter: '', select: true, selectAll: true, pages: 20, paginate: 'auto' };
    }
  });
</script>

