<tabs flat pad class-alt fill height=dynamic>
  <tab title=Intro><marked>
    Nearly every app needs to give user feedback when some actions occur, and one reasonably good Material-ish way to achieve that is with toast and/or snackbar messages. To that end, raui provides a helper to add toasting to any old instance, though it is particularly suited to things like the shell and window host.

    Toasts can appear top-center (the default), top-left, rop-right, bottom-center, bottom-left, or bottom-right. They have a message and a defaulted close button that can be disabled on a toast by toast basis. You can also add user-defined buttons to any toast, and there are five built-in types - plain, info, warn, error, and success - that can be added to fairly easily. By default, toasts will automatically close after six seconds, but the timeout is also overridable (or disable-able) on a toast by toast basis.

    Only one toast message can be displayed at a time, so toasts are queued in an internal queue. When a toast is closed, the queue is checked for pending messages, and if one is found, it is shifted from the queue and displayed. This process repeats until the queue is drained.
  </marked></tab>
  <tab title=Usage><marked>
    ### Plugin options

    All options are optional.

    * `name: string = 'toast'` - the name to use when registering the partial in the host
    * `timeout: number = 6000` - default number of milliseconds to display a message before it is automatically closed
    * `top: boolean = true` - default toast position to the top of its container
    * `bottom: boolean` - default toast position to the bottom of its container
    * `left: boolean` - default toast position to the left of its container
    * `right: boolean` - default toast position to the right of its container
    * `type: 'success' | 'info' | 'warn' | 'error'` - the type of the message. You can add additional message types as `.rtoast-${type}`
    * `class: string` - additional class(es) to add to the message container
    * `dismissable: boolean` - if not `false`, the message won't close when clicked
    * `buttons: Button[]` - a list of buttons to display at the end of the message. If no buttons are supplied and the message is dismissable, a close button is automatically provided
      * `class: string` - additional class(es) to add to the button
      * `label: string` - the label to display on the button
      * `action: () => void` - a function to call when the button is activated
    * `stack: boolean` - if true, multiple messages will be displayed at once

    ### API

    Message location defaults to the top center of the container. The left or right option can be combined with the top or bottom option so that you can hit the four corners or top or bottom center.

    * `toastDefaults = { timeout: 6000, top: true }` - plus any other options you passed to the plugin
    * `toast(message, options)` - queue a message to displayed in the toast area in the order queued
      * options are assigned over the defaults above
  </marked></tab>
  <tab title=Example>
    {{>toast}}
    <label as-field>Message<input value="{{.message}}" /></label>
    <label as-field>More<textarea>{{.options.more}}</textarea></label>
    <div>
      <label as-field class=inline><button on-click="@.set('@global.lastToast', @.toast(.message || 'This is a toast', .options))">Toast</button></label>
      <em><strong>*</strong></em> The most recently added toast is set to the global variable <em>lastToast</em> if you want to play with the handle interface in the console.
    </div>
    <h3>Options</h3>
    <div>
      <label as-field><input type="checkbox" checked="{{@.toastDefaults.left}}" /> Left?</label>
      <label as-field><input type="checkbox" checked="{{@.toastDefaults.right}}" /> Right?</label>
      <label as-field><input type="checkbox" checked="{{@.toastDefaults.top}}" /> Top?</label>
      <label as-field><input type="checkbox" checked="{{@.toastDefaults.bottom}}" /> Bottom?</label>
      <label as-field><input type="checkbox" checked="{{.options.dismissable}}" /> Dismissable?</label>
      <label as-field>Timeout<input type=number value="{{.options.timeout}}" /></label>
      <label as-field>Type<select value="{{.options.type}}">
        <option value="{{undefined}}">None</option>
        <option>success</option>
        <option>info</option>
        <option>warn</option>
        <option>error</option>
      </select></label>
      <label as-field><input type=checkbox checked="{{@.toastDefaults.stack}}" /> Stack?</label>
    </div>
  </tab>
</tabs>

<script>
  import { Window } from 'cmp/Window';
  import toast from 'cmp/Toast';

  export default Window.extend({
    template: $TEMPLATE, css: $CSS,
    cssId: 'toast-demo',
    use: [toast()],
    options: {
      title: 'Helper :: Toast',
      resizable: true, flex: true,
      width: '48em', height: '30em'
    },
    data() {
      return {
        options: {
          timeout: 6000,
          top: true,
          bottom: false,
          left: false,
          right: false,
          dismissable: true,
        }
      }
    }
  });
</script>
  
