<tabs flat pad class-alt fill height=dynamic>
  <tab title=Intro><marked>
    This is your standard boolean toggle that looks like an on/off switch. This is actually a macro partial rather than a component, so it's fairly light weight. It also supports `null` or `undefined` states with an intermediate position for all of your parties with three-state booleans.
  </marked></tab>
  <tab title=Usage><marked>
    ### Plugin options

    All options are optional.

    * `name: string = 'toggle'` - the name to use when registering the plugin as a component

    ### Attributes

    * `disabled: boolean` - whether the toggle is disabled
    * `value: any` - the backing value for the toggle
    * `nullable: boolean` - whether the toggle includes a `null` state
    * `undefined: boolean` - whether the null value should be `undefined` rather than `null`
  </marked></tab>
  <tab title=Example>
    <label as-field><input type=checkbox on-change="@.constructor.Ractive.styleSet('raui.toggle.square', !@.constructor.Ractive.styleGet('raui.toggle.square'))" /> Square toggles?</label>
    <label as-field><input type=checkbox checked="{{.nullable}}" /> Nullable</label>
    <label as-field><input type=checkbox checked="{{.undefined}}" /> Undefined</label>
    <label as-field><input type=checkbox checked="{{.disabled}}" /> Disabled</label>
    <marked>
      ### Template:
      ```hbs
      <toggle value=".foo" bind-disabled bind-nullable bind-undefined />
      <input type="checkbox" checked="{{.foo}}" />
      {{'' + .foo}}
      ```
      ### Result:
    </marked>
    <toggle value=".foo" bind-disabled bind-nullable bind-undefined />
    <input type="checkbox" checked="{{.foo}}" />
    {{'' + .foo}}
  </tab>
</tabs>

<script>
  import { Window } from 'cmp/Window';
  import Toggle from 'cmp/Toggle';

  export default Window.extend({
    template: $TEMPLATE,
    use: [Toggle()],
    options: {
      title: 'Component :: Toggle',
      resizable: true, flex: true,
      width: '48em', height: '30em'
    }
  });
</script>

